<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feria Chilena de la Fruta</title>
    <!-- Css bootstrap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- css personal-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Fontawesome kit-->
    <script src="https://kit.fontawesome.com/89017be19b.js" crossorigin="anonymous"></script>
</head>
<body>
    {{> menu}}
    {{{body}}}
</body>
</html>